<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password再設定</title>
    <link rel="stylesheet" href="user_style.css">
</head>
<body>
    <form action="#">
        <h1>Reset Password</h1>
        <div class="password_reset">
            <input type="email" name="user_email" placeholder="Email" required>
            <input type="password" name="user_password" placeholder="OriginalPassword" required>
            <input type="password" name="user_password" placeholder="NewPassword" required>
            <input type="password" name="user_password" placeholder="ConfirmPassword" required>
            <input type="submit" class="btn" value="CONTINUE">
            <input type="button" class="btn" onclick="history.back();" value="CANCEL">
        </div>
    </form>
</body>
</html>