<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>支払い完了</title>
</head>

<body>
    <h1>支払いが完了しました！</h1>
    <p>お支払いが正常に完了しました。</p>

    <p><span id="countdown">5</span> 秒後に<a href="index.html">ホームページ</a>に自動的に戻ります。</p>

    <script>
        // カウントダウンの要素を取得
        var countdownElement = document.getElementById("countdown");

        // 初期のカウントダウン値を設定
        var countdown = 5;

        // カウントダウンを開始する関数
        function startCountdown() {
            if (countdown > 0) {
                countdown--;
                countdownElement.textContent = countdown;
                setTimeout(startCountdown, 1000); // 1秒ごとにカウントダウンを更新
            } else {
                // カウントダウン終了後、ホームページに自動的に戻る
                window.location.href = "lesson_list_user.html";
            }
        }

        // カウントダウンを開始
        startCountdown();
    </script>
</body>

</html>