<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ログイン</title>
    <link rel="stylesheet" href="admin_style.css">
</head>

<body>
    <div class="admin_login">
        <h1>welcome back</h1>
        <div id="error_message" style="color: red;"></div>
        <form id="admin_login_form" action="" method="post">
            <input type="email" name="admin_email" placeholder="Email" required>
            <input type="password" name="admin_password" placeholder="Password" required>
            <input type="submit" class="btn" value="GO">
            <a href="admin_register.html">Create an account</a>
        </form>
    </div>
    <script src="jquery-3.7.0.min.js"></script>
    <script src="admin.js"></script>
</body>

</html>