<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者登録</title>
    <link rel="stylesheet" th:href="@{/css/admin_style.css}">
    
</head>

<body>
    <div class="admin_register">
        <h1>Create Account</h1>
        <div id="error_message" style="color: red;"></div>
        <form id="admin_register_form" th:action="@{/register/process}" method="post">
            <input type="text" name="admin_name" placeholder="Name" required>
            <input type="email" name="admin_email" placeholder="Email" required>
            <input type="password" name="admin_password" id="password" placeholder="Password" required>
            <input type="password" name="admin_confirm_password" id="confirmPassword" placeholder="ConfirmPassword" required>
            <input class="check_box" type="checkbox" required><a th:href="@{/register/process}">利用者規則確認</a>
            <input type="submit" class="btn" value="CREATE">
            <input type="button" class="btn" onclick="history.back();" value="戻る">
        </form>
       
    </div>
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</body>

</html>