<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ログイン</title>
    <link rel="stylesheet" th:href="@{/css/admin_style.css}">
</head>

<body>
    <div class="admin_login">
        <h1>welcome back</h1>
        <div id="error_message" style="color: red;"></div>
        <form id="admin_login_form" th:action="@{login/process}" method="post">
            <input type="email" name="admin_email" placeholder="Email" required>
            <input type="password" name="admin_password" placeholder="Password" required>
            <input type="submit" class="btn" value="GO">
            <a th:href="@{/admin_register.html}">Create an account</a>
        </form>
    </div>
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</body>

</html>