<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>テンプレート</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<header>
		<div>
			<h1></h1>
			<p>登録ID:</p>
		</div>
	</header>
	<article>
		<h2>講座一覧</h2>
		<form th:action="" method="post">
			<div class="delete_btn">
				<form action="">
					<button>削除します</button>
					<div class="number">講座番号<input type="text" name="lessonId"></div>
				</form>
			</div>
		</form>
		<table class="delete_table">
			<tr>
				<th>講座番号</th>
				<th>日付</th>
				<th>講座名</th>
				<th>価格</th>
			</tr>
			<tr th:each="lesson:${lessonList}">
				<td th:text=" ${lesson.lessonId}"></td>
				<td th:text=" ${#temporals.format(lesson.startDate, 'yyyy/MM/dd')}"></td>
				<td th:text=" ${lesson.lessonName}"></td>
				<td th:text=" ${lesson.lessonFee}"></td>
			</tr>
		</table>
		<div class="change-button">
			<button id="return_btn" type="button" onclick="history.back();">戻る</button>
		</div>
	</article>
	<footer><small>Copyright &copy; All rights reserved.</small></footer>
</body>

</html>