<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テンプレート</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div>
            <h1></h1>
            <p>登録ID:</p>
        </div>
    </header>
    <article>
        <div class="change_2">
            <p>講座内容の変更が完了しました。</p>
            <button th:attr="onClick='location.href=\''+'/admin/lesson/edit/'+${lessonId}+'\''">講座変更を続ける</button>
            <button onclick="lesson_list.html">管理TOPへ戻る</button>
        </div>
    </article>
    <footer><small>Copyright &copy; Academy All rights reserved.</small></footer>
</body>

</html>