<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>テンプレート</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<div>
			<h1></h1>
			<p>登録ID:</p>
		</div>
	</header>
	<article>
		<h2>登録講座画像の変更</h2>
		<div class="change">
			<form th:action="" method="post" enctype="multipart/form-data">
				<img th:src="">
				<table class="change_table">
					<tr>
						<th>講座画像</th>
						<td>
							<input type="file" name="imageName">
						</td>
					</tr>
				</table>
				<div class="change-button">
					<button id="return_btn" type="button" onclick="history.back();">戻る</button>
					<button id="change_btn">変更</button>
				</div>
				<input type="hidden" name="startDate" th:value="${lessonList.startDate}">
				<input type="hidden" name="startTime" th:value="${lessonList.startTime}">
				<input type="hidden" name="finishTime" th:value="${lessonList.finishTime}">
				<input type="hidden" name="lessonName" th:value="${lessonList.lessonName}">
				<input type="hidden" name="lessonDetail" th:value="${lessonList.lessonDetail}">
				<input type="hidden" name="lessonFee" th:value="${lessonList.lessonFee}">
				<input type="hidden" name="lessonId" th:value="${lessonList.lessonId}">
			</form>
		</div>
	</article>
	<footer><small>Copyright &copy; Business Design Academy All rights reserved.</small></footer>
</body>
</html>